{% load static %}
<li>
    <article class="post">
        <a href="">
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Mountain Hiking">
            <div class="posts__content">
                <h3>Mountain Hiking</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit facere numquam non laboriosam minus repellat iure esse iusto, culpa, quidem, natus perspiciatis delectus unde! Illo eius dicta tenetur maiores qui?</p>
            </div>
        </a>
    </article>
</li>