{% extends "base.html" %}
{% load static %}

{% block page_title %}
    My Blog
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/includes/post.css' %}">
{% endblock css_files %}
    

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/me.png' %}" alt="Mausneg's Image">
            <h2>Mausneg's Blog</h2>
        </header>
        <p>Hi, I'm Mausneg and I love to blog about tech world!</p>
    </section>

    <section id="latest-posts">
        <h2>Latest Posts</h2>
        <ul id="list-posts">
            {% include 'blog/includes/post.html' %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>I love Programming, I love Python, and I love Machine Learning</p>
        <p>My goal is to be successful people with 2 digit salary</p>
    </section>
{% endblock content %}