{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    {{ post.title }}
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in tags %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address>By <a href="mailto:{{ post.author.email }}">{{ post.author|title }}</a></address>
            <div>
                Last updated on <time>{{ post.date|date:"d M Y"}} </time>
            </div>
        </article>
    </section>
    <main>
        {{ post.content|linebreaks }}
    </main>
    <section id="comments">
        <ul>
            
            {% for comment in comments %}
                <li>
                    <h2>{{ comment.username }}</h2>
                    <h5>{{ comment.datetime|date:"d M Y, H:i" }}</h5>
                    <p>{{ comment.text|linebreaks }}</p>
                </li>
            {% endfor %}
                
        </ul>
    </section>
    <section id="comment-form">
        <h2> Your Feedback</h2>
        <form action="{% url 'post-detail-page' post.slug %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>       
            {% endfor %}
            <input type="text" hidden name="slug" value="{{ post.slug }}">
            <button>Save comment</button>
        </form>
    </div>
{% endblock content %}
    